extends ../layout/main

block content
  article(class="feedback")
    form(action= formURL method="POST" class="form")
      h2(class="form__title") Задать вопрос

      each input in inputsAttr
        - var isRequired= input.name === 'email' ? false : true;
        input(
          type= input.type
          name= input.name
          class="form__input form__input--"+ input.name
          placeholder= input.placeholder
          required= isRequired
        )

      button(type="submit" class="form__button") Отправить запрос
  script(src="./js/bundle.js")
